@import "./../../styles/common";
@import "./../../styles/mixin";
// @import './../../styles/variables';

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.horiz-style {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bigButton-style {
    width: 200px;
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

.horiz-bigButton-style {
    width: 420px;
    height: 170px;
    margin-top: 20px;
    border-radius: 30%;
}

.full-button {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: rgb(251, 131, 131);
    color: white;
}

.big-font {
    font-size: 35px;
}

.middle-font {
    font-size: 27px;
}

.SizedBox {
    height: 30px;
}

.colored-div-style {
    width: 100%;
    background-color: rgb(251, 131, 131);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}