// @import "./../../styles/common";
// @import "./../../styles/mixin";
// @import './../../styles/variables';

.App {
    text-align: center;

    &-logo {
        height: 40vmin;
        pointer-events: none;
    }

    &-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }

    &-link {
        color: #61dafb;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.header-style {
    display: flex;
}

.bunddang {
    margin-top: 30px;
}

.banner {
    width: 100%;
    height: 200px;
    background-color: black;

    &-font-style {
        display: flex;
        padding-top: 30px;
        padding-left: 100px;
        font-weight: 700;
    }

    &-mzarar-style {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        border-radius: 15px;
        background-color: rgb(224, 245, 92);
        font-size: 50;
        font-weight: 700;
    }

    &-ment-style {
        display: flex;
        padding-top: 20px;
        justify-content: center;
        font-weight: 700;
    }
}

.fontColor {
    color: rgb(224, 245, 92);
    font-size: 30px;
}

.SizedBox {
    width: 50px;
}

keyframes App-logo-spin {
    transform: rotate(0deg);
}

to {
    transform: rotate(360deg);
}