// @import "./../../styles/common";
// @import "./../../styles/mixin";
// @import './../../styles/variables';

.SizedBox {
    width: 20px;
    height: 50px;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.horiz-center {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.margin {
    margin-left: 20%;
}

.ad-style {
    width: 400px;
    height: 300px;
    border-radius: 30;
    border: 2px solid red;
    margin-bottom: 30px;

    img {
        width: 340px;
        height: 170px;
        border-radius: 30;
        border: 2px solid red;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.like-button-style {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(251, 131, 131);
    border: 2px solid rgb(251, 131, 131);
    color: white;
    font-size: 15px;
}