// @import "./../../styles/common";
// @import "./../../styles/mixin";
// @import './../../styles/variables';

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.horiz-style {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bigButton-style {
    width: 200px;
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

.horiz-bigButton-style {
    width: 420px;
    height: 170px;
    margin-top: 20px;
}

.full-button-vertical {
    width: 200px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(251, 131, 131);
    border: 2px solid rgb(251, 131, 131);
    color: white;
}

.full-button-horiz {
    width: 420px;
    height: 170px;
    border-radius: 10px;
    background-color: rgb(251, 131, 131);
    border: 2px solid rgb(251, 131, 131);
    color: white;
}

.big-font {
    font-size: 20px;
}

.SizedBox {
    height: 30px;
}

.lefted-font {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: 10px;
}